*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #111;
  color: aliceblue;
}

h1 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 480px;
  height: 100vh;
  margin-inline: auto;
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.game-board {
  position: relative;
  font-size: 2rem;
}

.row {
  display: flex;
  justify-content: center;
  gap: 0.25rem;
  margin-block: 0.25rem;
}

.tile {
  height: 3rem;
  width: 3rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #444;
  border-radius: 0.25em;
}

.keyboard {
  width: 100%;
  padding-inline: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.key {
  flex: 1;
  cursor: pointer;
  padding: 0.5em;
  color: inherit;
  background-color: hsl(0, 0%, 36%);
  font-size: 1.5rem;
  text-transform: uppercase;
  border: none;
  border-radius: 0.25em;
  transition: background-color 150ms ease-in-out;
}

.key:hover:not(.letter-included):not(.position-right):not(.letter-not-included),
.key:focus:not(.letter-included):not(.position-right):not(
    .letter-not-included
  ) {
  background-color: hsl(0, 0%, 50%);
}

.letter-included.position-right {
  background-color: rgba(0, 206, 62, 0.75);
  border: none;
}

.letter-included {
  background-color: rgba(255, 221, 0, 0.75);
  border: none;
}

.letter-not-included {
  opacity: 0.5;
}

.modal {
  position: absolute;
  inset: 0;
  z-index: 999;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-card {
  width: min(420px, 100% - 1.5rem);
  background-color: #222;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border-radius: 0.5rem;
}

.heading {
  font-size: 1.5rem;
}

.correct-word {
  font-size: 2rem;
}

.btn--play {
  min-width: 80px;
  padding: 0.5rem;
  background-color: hsl(197, 100%, 73%);
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  cursor: pointer;
  transition: background-color 150ms ease-in-out;
}

.btn--play:hover,
.btn--play:focus {
  background-color: hsl(0, 0%, 100%);
}

.alert-box {
  position: absolute;
  top: 1rem;
  z-index: 999;
  width: 100%;
}

.alert {
  display: block;
  width: 80%;
  padding: 0.5rem 1rem;
  margin-inline: auto;
  background-color: hsl(0, 0%, 95%);
  color: #333;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border-radius: 0.25rem;
}

@media (max-width: 520px) {
  .container {
    padding-block: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  .key {
    font-size: inherit;
  }

  .heading {
    font-size: 1.2rem;
  }
}
